@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

:root {
    --primary-color: #2998f9;
    --secondary-color: #2998f9;
    --radial-gradient: radial-gradient(#0c6e95 10%, #040404);
    --dark-color: #040404;
    --text-color: #ffffff;
    --font-family: "Bricolage Grotesque", sans-serif;
    --small-text: 1.2rem;
    --medium-text: 1.5rem;
    --large-text: 2rem;
    --xlarge-text: 4rem;
    --glass-white: #ffffff14;
    --glass-shadow: inset 0 0 33px #ffffff45;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

html {
    font-size: 16px;
}

body {
    font-family: var(--font-family);
    min-height: 100vh;
    color: var(--text-color);
    background: var(--radial-gradient);
    background-attachment: fixed;
}

h1 {
    font-size: var(--xlarge-text);
}

h2 {
    font-size: var(--large-text);
}

h3 {
    font-size: var(--medium-text);
}

p {
    font-size: var(--small-text);
}

.container {
    margin: 0 auto;
    padding: 20px;
}

.button-primary {}

.button-secondary {
    color: var(--secondary-color);
    background-color: transparent;
    border: solid 2px;
}

button {
    font-size: var(--medium-text);
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
}

.button-primary {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

.logo {
    padding: 5px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    border-radius: 10px;
    /* border: solid 3px #5a5a5a85; */
}

.glass-effect {
    background-color: var(--glass-white);
    box-shadow: var(--glass-shadow);
    backdrop-filter: blur(5px);
}

.navigation {
    padding: 5px 20px;
}

.navigation-list {
    display: flex;
    gap: 40px;
    list-style: none;
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
}

.hero div {
    max-width: 60%;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.flex {
    display: flex;
    gap: 20px;
}

.column {
    flex-direction: column;
}

.sub {
    opacity: 0.5;
}

.hero-buttons {
    display: flex;
    gap: 20px;
}

.small-text {
    font-size: var(--small-text);
}

.medium-text {
    font-size: var(--medium-text);
}

.large-text {
    font-size: var(--large-text);
}

.xlarge-text {
    font-size: var(--xlarge-text);
}

.container-box {
    max-width: 80%;
    margin: auto;
}

.center {
    text-align: center;
}

a:hover,
button:hover,
input[type="submit"] {
    transition: .3s ease-in-out;
    filter: contrast(5.5);
    letter-spacing: 2px;
    cursor: pointer;
}



@keyframes updown {
    from {
        position: relative;
        top: 0;
    }

    to {
        top: 30px;
    }
}

.updown {
    animation: updown 1.5s infinite ease-in-out alternate;
    /* animation-name: updown;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate; */
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.opacity-animate {
    opacity: 0;
    animation: opacity 1s 1 1s ease-in-out forwards alternate;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
}

.dark-background {
    background-color: #04040494;
}

.with-padding {
    padding: 100px 5px;
}

.about-right {
    flex-basis: 60%;
    padding: 25px;
    border-radius: 25px;
    gap: 30px;
    font-size: var(--small-text);
}

.about-left img {
    transform: rotateY(180deg);
}

.features {
    padding-left: 30px;
    list-style-image: url('../img/check1.png');
    list-style-position: inside;
}

.work {
    /* position: absolute; */
    padding: 20px 40px;
    border-radius: 15px;
    /* border: solid 2px var(--primary-color); */
    box-shadow: inset 0 0 26px #fee976;
    height: 7rem;
    display: flex;
    align-items: center;
    max-width: 350px;
}

.work .number {
    position: absolute;
    top: -10px;
    left: -10px;
    padding: 10px;
    border-radius: 50%;
    /* border: solid 1px var(--primary-color); */
    width: 40px;
    height: 40px;
    font-size: var(--medium-text);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fdd807;
}

/* .work1 {
    top: 27px;
    left: -109px;
}

.work2 {
    top: 68px;
    right: -151px;
}

.work3 {
    bottom: 150px;
    left: -164px;
}

.work4 {
    bottom: 100px;
    right: -189px;
} */

.work p {
    font-size: 1rem;
    letter-spacing: 2px;
}

.work-steps {
    /* flex-basis: 90%; */
}

.work-steps-container {
    align-items: center;
    justify-content: space-evenly;
}

.main-image {
    flex-basis: 50%;
}

.main-image img {
    filter: drop-shadow(2px 12px 30px black);
}

/* .work1,
.work4 {
    left: -35px;
}

.work2,
.work3 {
    left: 35px;
} */